# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/

# Entornos
venv/
.env
.venv/

# Jupyter
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Resultados pesados
results/graficos/*.png
results/*.csv
results/*.zip
!results/.gitkeep

# data pesada
data/*.fasta
!data/.gitkeep

# Archivos temporales de análisis
*.tmp
temp/
tmp/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log